<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

          <div class="field py-2">
            <div class="control">
              <%= f.input :first_name, :label => 'First Name', required: true, autofocus: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.input :last_name, :label => 'Last Name', required: true, autofocus: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.input :username, :label => 'Username', required: true, autofocus: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.input :email, :label => 'Email', required: true, autofocus: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.input :password, :label => 'Password', required: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.input :password_confirmation, :label => 'Confirm Password', required: true %>
            </div>
          </div>

          <div class="field py-2">
            <div class="control">
              <%= f.button :submit, "Sign up", id: 'sign_up_button' %>
            </div>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>